[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
aiohttp = "*"
sqlalchemy = "*"
"psycopg2-binary" = "*"
marshmallow-sqlalchemy = "*"

[dev-packages]
pytest = "*"
freezegun = "*"
"flake8" = "*"
mypy = "*"
pytest-aiohttp = "*"

[requires]
python_version = "3.6"
