[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
aiohttp = "*"
sqlalchemy = "*"
"psycopg2-binary" = "*"

[dev-packages]
pytest = "*"
freezegun = "*"
"flake8" = "*"
mypy = "*"

[requires]
python_version = "3.6"
